POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=knboard
POSTGRES_USER=knboard
POSTGRES_PASSWORD=examplepassword

DJANGO_SECRET_KEY=01tHOatUVZDm508jsRlEdtwbNuDFnsPFkrBcz2PUGhDWz5H7xO
DJANGO_STATIC_URL=/django-static/
DJANGO_STATIC_ROOT=/app/django-static/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_ALLOWED_HOSTS=example.com
DJANGO_ALLOW_GUEST_ACCESS=
