Django==3.0.6
djangorestframework==3.11.0
django-filter==2.2.0
markdown==3.2.2
django-extensions==2.2.9
PyYAML==5.3.1
pytest-django==3.9.0
pytest-factoryboy==2.0.3
pytest-cov==2.8.1
django-admin-sortable==2.2.3
dj-rest-auth==1.0.5
django-debug-toolbar==2.2
django-debug-toolbar-request-history==0.1.1
Pillow==7.1.2
django-allauth==0.41.0
black==19.10b0
pre-commit==2.4.0
