Django==3.0.4
djangorestframework==3.11.0
django-filter==2.2.0
markdown==3.2.1
django-extensions==2.2.8
PyYAML==5.3
pytest-django==3.8.0
pytest-factoryboy==2.0.3
pytest-cov==2.8.1
django-admin-sortable==2.2.3
dj-rest-auth==0.1.4
django-debug-toolbar==2.2
django-debug-toolbar-request-history==0.1.1
Pillow==7.0.0
django-allauth==0.41.0
black==19.10b0
