$primary-color: #5fd0ae;

.button {
  margin: 0.5rem 0.75rem;
  font-size: 1.25rem;
  background: transparent;
  border-color: $primary-color;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;

  &:focus {
    outline: none;
  }
  &:active {
    border-style: solid;
  }
  &:hover {
    cursor: pointer;
  }
}

.loading {
  font-size: 2rem;
  color: #fba300;
  margin: 3.75rem 0;
}

.value {
  font-size: 5rem;
  color: $primary-color;
  margin: 2rem 0;
}
